<div class="row" id="country-data">
	<h2>{{country.countryName}}</h2>
	<p>Population of Country: {{country.population}}</p>
	<p>Area: {{country.areaInSqKm}} square km</p>
	<p>Capital: {{country.capital}}</p>
	<p>Population of Capital: {{capital.population}}</p>
	<p>3 Neighbors: <span class="neighbors" ng-repeat="neighbor in neighbors" ng-click="showNeighbor(neighbor)">{{neighbor.countryName}}</span></p>
</div>
<div class="row">
	<div class="country-imgs">
		<img id="flag" ng-src="http://www.geonames.org/flags/x/{{capital.countryCode | lowercase}}.gif" />
		<img src="http://www.geonames.org/img/country/250/{{capital.countryCode | uppercase}}.png" />
	</div>
</div>
<div class="btn-container">
	<a href="/#/" class="btn btn-success">Home</a>
	<a href="/#/countries" class="btn btn-primary">Browse Countries</a>
</div>